node_modules
dist
out-tsc
.angular
.cache
.tmp

coverage
cypress
playwright-report

*.env*
!*.env.production
*.log
*.tsbuildinfo

.vscode
.idea
.DS_Store
Thumbs.db
*.swp

.git
.gitignore

Dockerfile
Dockerfile.*
.dockerignore
docker-compose.yml
docker-compose*.yml

*.bak
*.old
*.tmp
